*{
    margin: 0;
    box-sizing: border-box;
}
.banner-wrapper{
    background-image: url(https://picsum.photos/id/124/1520/500);
    height: 500px;
}
.banner{
    margin:0;
    height:100px;
}
#logo{
    float:left;
    margin: 5px 5px;
}
.header-options ul{
    list-style: none;
    margin-top: 0px;
    padding-left: 0;
    color: white;
    font-family: 'roboto' , 'sans-serif';
}
.header-options li{
    float: left;
    margin-right: 50px;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
}
#logo-text{
    font-size: 25px;
    margin-top: 25px;
    margin-right: 50px;
}
#log-in{
    border-style: solid;
    border-color: #00daa7;
    padding: 10px;
    margin-top: 25px;
    transition: all 0.4s;

}
#log-in:hover{
    background-color: #00daa7;
}
.banner-content{
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-family: 'roboto' , 'sans-serif';
    
}
.banner-content h1{
    margin-bottom: 7px;
    font-size: 40px;
}
.banner-content span{
    color: #00daa7;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.banner-button{
    padding:10px 63px;
    background-color: #00daa7;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px #999;
}
.banner-button:active {
    box-shadow: 0 0px #999;
    position: relative;
    top: 4px;
  }
.buttons{
    margin-top: 30px;
}


.content{
    height: fit-content;
    background-color: #5367ff;
}
#main-title{
    text-align: center;
    padding-top: 30px;
    color: white;
}
.olympiads{
    margin-left: 200px;
    height: 1080px;
}
.section-wrapper{
    float: left;
    text-align: center;
    width:250px;
    height: 515px;
    padding:13px;
    background-color: white;
    color: rgb(59, 59, 59);
    border-radius: 5px;
    margin-right: 50px;
    margin-top: 25px;
    font-family: 'roboto' , 'sans-serif';
}
.olympiads h1{
    margin: 20px;
    font-size: 20px;
}
#Grads{
    margin-left: 300px;
}
.section-wrapper p{
    margin-bottom: 30px;
    font-size: 15px;
}
.section-wrapper a{
    color:white;
    background-color: #00daa7;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 0 4px #999;

}
.content hr{
    width: 100%;
    height: 1.5px;
    margin: 30px 0px;
    border-width: 0;
    color: white ;
    background-color: white;
}
.reg{
    height: 250px;
    color: white;
    font-family: 'roboto','sans-serif';
}
.para{
    float: left;
}
.reg span{
    color: #00daa7;
}
.para h1{
    padding-top: 50px;
    padding-left:150px;
    vertical-align: middle;
}
.para p{
    padding-left:150px;
    margin-top: 20px;
    margin-bottom: 30px;
    width:600px;
}
.register a{
    margin-left: 150px;
    color:white;
    background-color: #00daa7;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
.flex{
    float:right;
    margin: 40px 120px;
}
#para2{
    float: right;
    margin-right: 250px;
}
#flex2{
    float: left;
    margin-left: 300px;
}
.ffs{
    background-color: white;
    color: rgb(73, 73, 73);
    font-family: 'roboto' , 'sans-serif';
    margin-top: 100px;
    padding-top: 50px;
    
}
.ffs-para{
    float: left;
    margin-top: 50px;
    margin-left: 150px;
    width: 600px;
}
#ffs{
    margin-bottom: 30px;
    
}
.ffs-para a{
    margin-left:0px;
    box-shadow: 0 4px #999;
}
.ffs-para h1{
    color: #5367ff;
    margin-bottom: 20px;
}
.ffs img{
    margin-left:275px;
}


.reviews{
    background-color: white;   
    /* margin-top: 20px; */
    padding-top: 50px; 
    font-family: 'roboto' , 'san-serif';
    padding-bottom: 90px;
}
.reviews hr{
    color: #5367ff;
    background-color: #5367ff;
    margin-bottom: 5px;
}
.reviews h1{
    color: #5367ff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.reviews a{
    margin-left: 670px;
    color:white;
    background-color: #00daa7;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
.reviews-wrapper{
    margin-left: 50px;
    margin-bottom: 350px;
}
.review{
    background-color: rgb(207, 207, 207);
    float: left;
    margin-right:40px;
    width:326px;
    height:238px;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.review span{
    font-size: small;
}


.footer{
    margin-top: 40px;
    height: 450px;
    background-color: #5367ff;
    font-family: 'roboto','sans-serif';
}
.folcon-container{
    float: left;
    margin-left: 300px;
}
.folcon{
    padding-bottom: 50px;
}
.folcon ul{
    list-style: none;
    color: white;
}
.folcon li{
    margin-bottom: 15px;
    position: relative;
    left: -40px;
}
.folcon h4{
    color: #00daa7;
    margin-bottom: 10px;
}


.form{
    float: right;
    margin-right: 300px;
}
.conli{
    float: left;
    margin-right: 5px;
}
.form h2{
    color: #00daa7;
    margin-bottom: 20px;
}
form{
    color: rgb(235, 235, 235);
}
.form input,textarea{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form a{
    color:white;
    background-color: #00daa7;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 178px;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
.input{
    height: 37px;
    width: 201.6px;
    border-radius: 5px;
    background-color: #7585ff;
    border-style: none;
    box-shadow: 0 2px rgb(216, 216, 216);
}
textarea{
    width: 408.2px;
    height: 85px;
    border-radius: 5px;
    border: none;
    background-color: #7585ff;
    margin-bottom: 30px;
    border-style:none;
    box-shadow: 0 2px rgb(216, 216, 216);
}
#foot-hr{
    margin-bottom: 25px;
}
#copy{
    color: white;
    text-align: center;
    float: left;
    width: 1300px;
}


#amogus{
    float: right;
    margin-right: 60px;
}